.header-div{
    background-color:black;
    color: white;
    padding: 10px;
}
.card{
    position: relative;
    margin: 4px;
    height: 300px;
    border: 1px solid black;
}
.card:hover{
   box-shadow: 2px 2px 5px black;
   border: 4px solid orange;
}
.card > img {
    width: 100%;
    height: 100%;
}
.card > p {
    position: absolute;
    bottom: 0;
    color: white;
    left: 5px;
}
.scoreboard{
    display: flex;
    justify-content: center;
    margin: 15px;
}
.scoreboard > div {
    padding: 10px;
}
.all-cards{
    display: grid;
    grid-row: inherit;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  
}
.footer{
    background-color:black;
    color: white;
    padding: 7px;
    margin-top: 20px;
}
.score{
    background-color: chartreuse;
}
.high-score{
    background-color: orange;
}